

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url(https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F039%2F761%2Fnerdfacecover.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(200px);
    position: absolute;
    z-index: -1;
}

.loading-text {
    font-size: 50px;
    color: white;
}